<p>add-user works!</p>
  <form class="box ">
    <div *ngIf="!submitted">
      <div class="field"> 
        <label class="label" for="name">Name</label>
        <input
        class="input"   
          type="text"
          id="name"
          required
          [(ngModel)]="user.name"
          name="name"
        />
      </div>
  
      <div class="field">
        <label class="label" for="email">Email</label>
        <input
        class="input" 
        type="email"
          id="email"
          required
          [(ngModel)]="user.email"
          name="email"
          placeholder="e.g. alex@example.com"
        />
      </div>
  
      <button class="button is-primary" (click)="saveUser()">Submit</button>
    </div>
    <div *ngIf="submitted">
      <h4>User was submitted successfully!</h4>
      <button class="button is-primary" (click)="newUser()">Add</button>
    </div>
  </form>
